---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import { SHOW_BUY_BUTTON } from 'astro:env/server'
import BookStore from '../../components/BookStore.astro'
import BuyButton from '../../components/BuyButton.astro'

export async function getStaticPaths () {
  const books =  await getCollection('books') 

  return books.map((book) => ({
    params: { id: book.slug },
    props: { book }
  }))
}

const { book } = Astro.props
const { data } = book
const { Content } = await render(book)

export const prerender = true
---

<Layout title={`${data.title} - Libros Programacion`} >
  <div class="flex gap-12">
    <aside>
      <a href="/" class="hover:underline opacity-70">Volver atras</a>
      <img 
        transition:name={`img-${book.slug}`} 
        class="rounded w-72 h-auto" 
        src={`/${data.img}`} 
        alt={data.title} 
      />
      <BookStore server:defer id={book.slug}>
        <span slot="fallback" class="text-xs opacity-70">Cargando puntuacion</span>
      </BookStore>
      {
        /* Importar logo de amazaon desde el repositorio del proyecto */
        SHOW_BUY_BUTTON && <BuyButton server:defer buy={ data.buy }  />

      }
    </aside>

    <main class="max-w-3xl">
      <h1 class="text-4xl font-bold mb-4">{data.title}</h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>